<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="x-icon" href="./iwimg/Vinoth_2_png Final.png ">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
    <title>Error - Login</title>
   
</head>
<body>
    <div class="container">
        <img src="./iwimg/settings-error-icon-3d-render-260nw-2301830103.webp" alt="Error Image">
        <h1>Oops! Something went wrong.</h1>
        <p>Failed to send email</p>
        <a href="/indexbg.html">Return to Home</a>
    </div>
</body>
</html>