<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="x-icon" href="./iwimg/Vinoth_2_png Final.png ">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
    <title>Error - Login</title>

</head>
<body>
    <div class="container">
        <img src="./iwimg/white-shield-with-green-check-mark-password-input-button-confirmation-safe-access_819382-83.avif" alt="Error Image">
        <h1>Password reset successfully</h1>
       
        <a href="/indexbg.html">Return to Home</a>
    </div>
</body>
</html>